html, body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
    flex:1;
}

/* NAVBAR */

.navbar {
    background-color: white;
}

#login_button, #sign_out_button {
    margin-right: 5rem;
}

.logo {
    margin-left: 5rem;
}

.navbar-nav li a {
    text-decoration: none;
    margin: 0 1em;
    color: black;
    text-transform: uppercase;
}


.navbar-nav li a:hover {
    transition:  linear;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}





/* MEDIA QUERIES */

/* CELLPHONES AND DIGITAL TABLETS */
@media (max-width: 1300px) { 
    .logo {
        margin-left: 0;
    }
    #login_button {
        margin-right: 0;
    }
    .text-description{
        font-size: 0.80rem;
        text-align: center;
    }
    .line {
        width: 100% !important;
    }
    .ping-pong-volley-ball-width {
        width: 100%;
    }
    .presentation-sections-width {
        width: 100%! important;
    }
    .sections-margin {
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left:2rem;
        margin-right: 2rem;
    }
}


/* DIGITAL TABLETS */
@media (min-width: 450px) and (max-width: 768px) {
    .tennis-img {
        background: url("../img/tennis-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .casino-img {
        background: url("../img/casino-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .pharmacie-img {
        background: url("../img/pharmacie-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .boulangerie-img {
        background: url("../img/boulangerie.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .coiffeur-img {
        background: url("../img/coiffeur.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .laverie-img {
        background: url("../img/laverie.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .transports-img {
        background: url("../img/transports-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .jeux-img {
        background: url("../img/jeux-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .ping-pong-img {
        background: url("../img/ping-pong-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .club-house-img {
        background: url("../img/club-house-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .piscine-img {
        background: url("../img/piscine-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .dentiste-img {
        background: url("../img/dentiste-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .medecin-img {
        background: url("../img/medecin-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .loge-gardien-img {
        background: url("../img/loge-gardien-ipad.jpg") !important;
        background-size: cover !important;
        background-position: center !important;
    }

    .margin-content {
        margin-top: 2.5rem!important;
    }

    .wallpaper {
        background-image: url("../img/accueil.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 20rem !important;
    }

    .wallpaper-shops {
        background-image: url("../img/wallpaper-shops.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 20rem !important;
    }

    .wallpaper-services {
        background-image: url("../img/wallpaper-services.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 20rem !important;
    }

    .wallpaper-activities {
        background-image: url("../img/wallpaper-activities.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 20rem !important;
    }
}


/* CELLPHONES */
@media (max-width: 450px) { 
    .img-col-height {
        height: 15rem;
    }

    .activities-height, .services-height, .shops-height {
        height: auto !important;
    }   

    .margin-content {
        margin-top: 2rem!important;
        margin-bottom: 2rem!important;
    }

    .wallpaper {
        background-image: url("../img/accueil.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 13rem !important;
    }

    .wallpaper-shops {
        background-image: url("../img/wallpaper-shops.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 10rem !important;
    }

    .wallpaper-services {
        background-image: url("../img/wallpaper-services.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 12rem !important;
    }

    .wallpaper-activities {
        background-image: url("../img/wallpaper-activities.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 10rem !important;
    }
}

/* LAPTOP */
@media (min-width: 992px) { 
    .navbar-position {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}



/* INDEX, SHOPS, ACTIVITIES & SERVICES SECTIONS */

.shops-height, .activities-height, .services-height {
    background: #FFF;
    height: 31rem;
}

.line {
    height: 1px;
    color: black;
    background-color: black;
    width: 5%;
    border: none;
    margin: 1rem 0rem;
}


.white-divider {
    width: 100px;
    height: 2px;
    background: black;
    margin: 1rem auto;
}

.tennis-img {
    background: url("../img/tennis.jpg");
    background-size: cover;
    background-position: center;
}

.casino-img {
    background: url("../img/casino.jpg");
    background-size: cover;
    background-position: center;
}

.pharmacie-img {
    background: url("../img/pharmacie.jpg");
    background-size: cover;
    background-position: center;
}

.boulangerie-img {
    background: url("../img/boulangerie.jpg");
    background-size: cover;
    background-position: center;
}

.coiffeur-img {
    background: url("../img/coiffeur.jpg");
    background-size: cover;
    background-position: center;
}

.laverie-img {
    background: url("../img/laverie.jpg");
    background-size: cover;
    background-position: center;
}

.transports-img {
    background: url("../img/transports.jpg");
    background-size: cover;
    background-position: center;
}

.jeux-img {
    background: url("../img/jeux.jpg");
    background-size: cover;
    background-position: center;
}

.ping-pong-img {
    background: url("../img/ping-pong.jpg");
    background-size: cover;
    background-position: center;
}

.club-house-img {
    background: url("../img/club-house.jpg");
    background-size: cover;
    background-position: center;
}

.piscine-img {
    background: url("../img/piscine.jpg");
    background-size: cover;
    background-position: center;
}

.dentiste-img {
    background: url("../img/dentiste.jpg");
    background-size: cover;
    background-position: center;
}

.medecin-img {
    background: url("../img/medecin.jpg");
    background-size: cover;
    background-position: center;
}

.loge-gardien-img {
    background: url("../img/loge-gardien.jpg");
    background-size: cover;
    background-position: center;
}

.wallpaper {
    background-image: url("../img/accueil.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 41rem;
}

.wallpaper-shops {
    background-image: url("../img/wallpaper-shops.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 41rem;
}

.wallpaper-services {
    background-image: url("../img/wallpaper-services.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 41rem;
}

.wallpaper-activities {
    background-image: url("../img/wallpaper-activities.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 41rem;
}

.sections-margin {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.index-sections-margin {
    margin-top: 5rem;
    margin-bottom: 5rem;
}



/* LOGIN SECTION */

.line-login {
    height: 1px;
    color: black;
    background-color: black;
    width: 10%;
    border: none;
    margin: 1rem 0rem;
}

.background-login-input {
    background-color: #EFEFEF;
}

.register {
    color: #17A2B8;
    margin-top: 0.5rem;
}

.register:hover {
    color: black;
}

.login-eye {
    display: flex;
    align-items: center;
    border: 1px solid #CED4DA;
    border-radius: 3px;
    background-color: #EFEFEF;
}

.login-eye i {
    margin: 0 10px;
    color: black;
    cursor: default;
}

.form-password input {
    border:0;
}





/* INDEX SECTION */

.img-card-news-size {
    height: 15rem;
    width: auto;
}

.presentation-sections {
    overflow:hidden;
    position: relative;
}

.presentation-sections a img {
   transition: all 0.35s;
}

.presentation-sections a img:hover {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
}

.presentation-sections a img:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

.recap-img h2 {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}





/* ANNOUNCES SECTION */

.boxPicture {
    margin: 1rem;
    justify-content: center;
    border-radius: 5px;
    width: 18rem;
    height: 12rem;
}

.format_size_img_upload {
    font-size: 0.9rem;
}